.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    padding-top: 20px;
  }
  

  .logo {
    grid-column: 1;
    background-color: red;
  }
    
  .item2 {
    padding-left: 750px;
    grid-column:5;
  }
  input[type=button] {
    
    background-color:grey;
    color: black;
  
 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=search]{
    border-radius: 4px;
  }
